/* build your own custom Bootstrap theme:
   https://themestr.app
*/
body,
.big-banner {
    background-image: url('../images/background.png');
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background: #cccccc !important;
}

.box-coloum {
    padding: 3% 2%;
}

.card {
    background-color: transparent;
}

.navbar-brand {
    color: #9d9d9d !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff !important;
}
